/*Typography*/
#customize-header-actions{
    top: 0;
}
.wp-customizer
{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
#customize-controls .customize-info
{
    margin-bottom: 0;
}
#customize-theme-controls #accordion-section-themes .accordion-section-title
{
    margin-top: 0;
}
/*Customizer Buttons*/
.wp-core-ui .support-buttons .btn-customize
{
    font-size: 13px;

    display: block;

    width: 90%;
    height: auto;
    margin: 5px auto 5px auto;
    margin-bottom: 10px;
    padding: 5px;

    transition: all .5s ease;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 50px;
    background-color: #3ebef1;
    box-shadow: none;
}
.wp-core-ui .support-buttons .btn-customize:hover
{
    box-shadow: 0 -3px 0 0 rgba(0,0,0,.3) inset;
}

.support-buttons .btn-customize .dashicons
{
    line-height: inherit;

    position: relative;
    top: 0;

    margin-right: 5px;
}
.wp-core-ui .support-buttons .btn-request .dashicons:before
{
    position: absolute;
    top: 4px;
    left: 0;

    width: 22px;
    height: 22px;

    content: ''!important;
    /*text-indent: -9999px;*/

    background-image: url(wparmy.png);
    background-repeat: no-repeat;
}

.support-upsells
{
    border-bottom: 0;
}

/*Accordion Title*/
#customize-theme-controls .accordion-section-title
{
    -webkit-transition: all .4s ease;
            transition: all .4s ease;
}
#accordion-section-themes .accordion-section-title
{
    margin-bottom: 0;
}

#customize-theme-controls > ul > .control-section > .accordion-section-title
{
    padding-left: 35px;

    text-transform: uppercase;
}
#customize-theme-controls > ul > .control-section > .accordion-section-title:hover
{
    padding-left: 40px;
}

#customize-theme-controls #accordion-section-themes .accordion-section-title
{
    padding-left: 15px;
}
#customize-theme-controls > ul > .control-section > h3.accordion-section-title:before
{
    font-family: 'dashicons';

    position: absolute;
    left: 15px;

    content: '';
    -webkit-transition: all .4s ease;
            transition: all .4s ease;
}
#customize-theme-controls > ul > .control-section > h3.accordion-section-title:hover:before
{
    left: 20px;
}
/*Site Specific Section Title*/
#customize-theme-controls #accordion-section-title_tagline > h3.accordion-section-title:before
{
    content: '';
}
#customize-theme-controls #accordion-panel-cpm_theme_options_panel > h3.accordion-section-title:before
{
    content: '';
}
#customize-theme-controls #accordion-panel-cpm_layout_panel > h3.accordion-section-title:before
{
    content: '';
}
#customize-theme-controls #accordion-panel-nav_menus > h3.accordion-section-title:before
{
    content: '';
}
#customize-theme-controls #accordion-panel-widgets > h3.accordion-section-title:before
{
    content: '';
}
#customize-theme-controls #accordion-section-static_front_page > h3.accordion-section-title:before
{
    content: '';
}
#customize-theme-controls #accordion-section-cpmmagz_support > h3.accordion-section-title:before
{
    content: '';
}

li#accordion-section-cpmmagz_upgrade_to_pro {
    display: block !important;
}
.cpmmagz-upgrade-to-pro span {
    position: relative;
    line-height: inherit;
    margin-right: 9px;
}
.cpmmagz-upgrade-to-pro {
    font-size: 13px;
    display: block;
    margin: 5px auto 14px auto;
    transition: all .5s ease;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 50px;
    background-color: #3ebef1;
    box-shadow: none;
    line-height: 23px;
    padding: 9px 10px;
    text-decoration: none;
}
.cpmmagz-upgrade-to-pro:hover {
    box-shadow: 0 -3px 0 0 rgba(0,0,0,.3) inset;
    color: #fff;
}

li#accordion-section-cpmmagz_upgrade_to_pro h3.accordion-section-title{
    padding: 0 !important;
    border: none;
    background: none !important;
}
li#accordion-section-cpmmagz_upgrade_to_pro {
    padding: 25px 19px;
    text-align: center;
}
li#accordion-section-cpmmagz_upgrade_to_pro h2{
    font-size: 20px;
    line-height: 30px;
}
li#accordion-section-cpmmagz_upgrade_to_pro h3.accordion-section-title:before{
    display: none;
}
