//Colors
$white_color: #ffffff;
$site_color: #455a64;
$meta_color: #b3b2b2;
$badge_bg: #ee6e73;
$badge_color: #fff;
$title-color: #455a64;

$label_bg: #8bc34a;
$theme_color: #37ACC3;
$theme_color_dark: #2A818D;
$theme_sec_color: #00acbe;
$entry-content-color: #757575;

$nav_color: #37474f;
$brand_color: #00acc1;

$sky_blue: #00bcd4;

$title-link-hover: #00acbe;
$mid-night-blue: #2A3038;

//Margin
$label-margin: 1em;
$arrow-width: 8px;
$card-before-arrow-width: 10px;
$small-card-before-arrow-width: 7px;

// Paddings
$site-padding: 2em;
$big-site-padding: 3em;
$element-padding: 1em;
$news-card-padding: 15px;

// Fonts
$label-font: 0.9rem;

// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;



