//Color Schemes
$white-color: #fff;
$nav_color: #37474f;

//Red Scheme
$red-primary: #e74c3c;
$red-secondary: #c0392b;

//Blue
$blue-primary: #3498db;
$blue-secondary: #2980b9;


//Green Scheme
$green-primary: #2ecc71;
$green-secondary: #27ae60;

//Turquoise Scheme
$turquoise-primary: #1abc9c;
$turquoise-secondary: #16a085;

//Purple Scheme
$purple-primary: #9b59b6;
$purple-secondary: #8e44ad;

//Aspalt Scheme
$aspalt-primary: #34495e;
$aspalt-secondary: #2c3e50;