.page-template-template-contact{
	.site-content{
		padding-top: 0;
	}
}
.contact-page, .page-template-contact{
	.site-content{
		padding-top: 0;
	}
}
.gmap-wrapper{
	padding: 0;
	margin: 0 0 3rem;
}
#googleMap{
	width:100%;
	height:430px;
	&:before{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		content: '';
	}
}
.scrolloff{
	&:before{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		content: '';
		z-index: 999;
	}
}