footer{
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	color: $white_color;
	p{
		color: $white_color;
	}
	&.page-footer{
		display: block!important;
		margin-top: 0;
		.footer-widget-area{
			padding: 3rem 0 3rem;
			background: $theme_color;
		}
		.footer-copyright{
			background: darken($theme_color, 10%);
			overflow: visible;
			padding: 12px 0 10px;
			height: auto!important;
			line-height: 1.3;
			font-weight: normal;
		}
	}

}